.App {
  text-align: center;
  min-width: 1000px;
  /* display: flex;
  justify-content: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

html {
  display: flex;
  justify-content: center;
}

.answer-container {
  display: grid;
  grid-template-columns: auto auto;
  height: 200px;
}

.answer-container>div {
  height: 50px;
  width: 400px;
  border: 2px solid;
}

.answer-container>div>div {
  height: 51px;
  width: 401px;
  /* border: 2px solid; */
  cursor: pointer;
  word-break: break-word;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding-left: 10px; */
}

.button-submit {
  display: flex;
  justify-content: center;
}

.button-submit>div {
  height: 30px;
  width: 80px;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.answer-select {
  background-color: pink;
}

.hide {
  cursor: not-allowed !important;
}

.hide>div {
  display: none !important;
}

.modal {
  height: 300px;
  width: 50%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}

.modal>h3 {
  margin-top: 80px;
}

.modal>button {
  margin-top: 20px;
}